.card {
  width: 200px;
  text-align: center;
  margin: 10px 5px 0 5px;
  border: 1px solid rgba(23, 162, 184, 0.3) !important;
}

.card-img-size {
  width: 120px !important;
  height: 120px;
  margin: 0 auto;
}

.card-body {
  min-height: 140px;
}

.pokemon-type-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.badge-Grass {
  background-color: olivedrab;
  color: #fff;
}

.badge-Poison {
  background-color: yellowgreen;
  color: #fff;
}

.badge-Water {
  background-color: royalblue;
  color: #fff;
}

.badge-Fire {
  background-color: orangered;
  color: #fff;
}

.badge-Bug {
  background-color: sienna;
  color: #fff;
}

.badge-Flying {
  background-color: lightskyblue;
  color: #000;
}

.badge-Normal {
  background-color: darkgrey;
  color: #000;
}

.badge-Electric {
  background-color: blueviolet;
  color: #fff;
}

.badge-Ground {
  background-color: maroon;
  color: #fff;
}

.badge-Fighting {
  background-color: tomato;
  color: #fff;
}

.badge-Psychic {
  background-color: teal;
  color: #fff;
}

.badge-Rock {
  background-color: palevioletred;
  color: #fff;
}

.badge-Dragon {
  background-color: midnightblue;
  color: #fff;
}

.badge-Ice {
  background-color: mediumturquoise;
  color: #000;
}

.badge-Steel {
  background-color: steelblue;
  color: #fff;
}

.badge-Ghost {
  border: 1px dotted black;
  color: #777;
}

.badge-Fairy {
  background-color: deeppink;
  color: #fff;
}

.badge-Dark {
  background-color: #000;
  color: #fff;
}
