.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.button-area {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}
